@import "tailwindcss";
@import "../../vendor/filament/filament/resources/css/theme.css";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../src/**/*.php";
@source "../../resources/views/**/*.blade.php";
